.technology-body{
    background-image: url("../../Images/technology-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.site-technology{
    padding: 43px;
}
.header__content-technology{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo-link-technology{
    display: inline-block;
}
.technology__list-card{
    width: 830px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}
.technology__navbar{
    padding-top: 39px;
    padding-left: 123px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & + & {
        margin-left: 50px;
    }
}
.technology__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.technology__item{
    & + & {
        margin-left: 50px;
    }
}
.technology__link{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}

.technology-section{
    padding: 76px 0 0 110px;
}
.technology__title{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
}
.technology__spans{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.technology__span{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;
}
.technology__span-text{
    color: black;
}