.body-home{
    background-image: url(../../Images/body-img.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.site-header {
    padding: 40px 0 251px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo-link {
    display: inline-block;
}
.header__navbar {
    width: 830px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}
.header__navbar::before{
    content: " ";
    width: 315px;
    height: 1px;
    opacity: 0.2515;
    background-color: #FFF;
    position: absolute;
    left: -280px;
    top: 48px;
    bottom: 0;
}
.header__list {
    padding: 38px 123px;
    display: flex;
    align-items: center;
}
.header__item + .header__item{
    margin-left: 50px;
}
.header__link {
    padding-bottom: 38px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    position: relative;
}
.header__link::before{
    content: " ";
    width: 0;
    height: 3px;
    background-color: #FFF;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
.header__link:hover::before{
    width: 100%;
}
.header__link:active::before{
    width: 100%;
    opacity: 0.5;
}
.header__link-bold {
    margin-right: 12px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
}
.hero-section {
    padding-bottom: 131px;
}
.hero {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.hero__content {
    width: 475px;
}
.hero__bold {
    margin-bottom: 24px;
    display: inline-block;
    color: #D0D6F9;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
}
.hero__title {
    color: #FFF;
    font-family: Bellefair , serif;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero__inner{
    width: 444px;
}
.hero__text {
    color: #D0D6F9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.hero__wrapper {
    width: 274px;
    height: 274px;
    text-align: center;
    border-radius: 274px;
    background-color: #FFF;
    cursor: pointer;
}
.hero__line {
    padding: 118px 64px 119px 62px;
    display: inline-block;
    color: #0B0D17;
    font-family: Bellefair ,serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}